#scoresContainer,
#summaryContainer {
  width: 300px;
  background-color: #f0f0f0;
  padding: 20px;
  margin: 0 auto;
  /* Center the container horizontally */
  font-family: Arial, sans-serif;
  border-radius: 10px;
  /* Add rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Add a subtle shadow around the container*/
}